# SalesPrice Prediction for House

Exercise from Kaggle

Features ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd']

In [74]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Prepare Data

In [75]:
test_data = pd.read_csv('test.csv')
train_data = pd.read_csv('train.csv')

Preprocessing Data

In [84]:
# To view the Training file details
train_data.describe(include='all')
# train_data.columns

# To view the Test file details
# test_data.describe(include='all')
# test_data.columns

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
count,1460.000000,1460.000000,1460,1201.000000,1460.000000,1460,91,1460,1460,1460,...,1460.000000,7,281,54,1460.000000,1460.000000,1460.000000,1460,1460,1460.000000
unique,NaN,NaN,5,NaN,NaN,2,2,4,4,2,...,NaN,3,4,4,NaN,NaN,NaN,9,6,NaN
top,NaN,NaN,RL,NaN,NaN,Pave,Grvl,Reg,Lvl,AllPub,...,NaN,Gd,MnPrv,Shed,NaN,NaN,NaN,WD,Normal,NaN
freq,NaN,NaN,1151,NaN,NaN,1454,50,925,1311,1459,...,NaN,3,157,49,NaN,NaN,NaN,1267,1198,NaN
mean,730.500000,56.897260,NaN,70.049958,10516.828082,NaN,NaN,NaN,NaN,NaN,...,2.758904,NaN,NaN,NaN,43.489041,6.321918,2007.815753,NaN,NaN,180921.195890
std,421.610009,42.300571,NaN,24.284752,9981.264932,NaN,NaN,NaN,NaN,NaN,...,40.177307,NaN,NaN,NaN,496.123024,2.703626,1.328095,NaN,NaN,79442.502883
min,1.000000,20.000000,NaN,21.000000,1300.000000,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.000000,1.000000,2006.000000,NaN,NaN,34900.000000
25%,365.750000,20.000000,NaN,59.000000,7553.500000,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.000000,5.000000,2007.000000,NaN,NaN,129975.000000
50%,730.500000,50.000000,NaN,69.000000,9478.500000,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.000000,6.000000,2008.000000,NaN,NaN,163000.000000
75%,1095.250000,70.000000,NaN,80.000000,11601.500000,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.000000,8.000000,2009.000000,NaN,NaN,214000.000000
max,1460.000000,190.000000,NaN,313.000000,215245.000000,NaN,NaN,NaN,NaN,NaN,...,738.000000,NaN,NaN,NaN,15500.000000,12.000000,2010.000000,NaN,NaN,755000.000000

In [76]:
# Assign the y <- Prediction variable, and X <- Predicting features
# X is assigned 'LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd'
features = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd']
X = train_data[features]
y = train_data.SalePrice

In [77]:
# Splitting the Testing into test+validation data
train_X, val_X, train_y, val_y =train_test_split(X,y, random_state=1)

# Model Setup

In [78]:
# Import Random Forest Regressor (RFR) from sklearn
from sklearn.ensemble import RandomForestRegressor

In [79]:
# Instantize the RFR model, and assign random_state as 1
model = RandomForestRegressor(random_state=1)

# Model Fit

In [80]:
# Fitting the model with train features (train_X) and predicted sales price (train_y)
model.fit(train_X, train_y)

//anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=1, verbose=0,
                      warm_start=False)

# Model Predict

In [81]:
# Now predicting the fit / trained model with the validation data (val_X)
preds = model.predict(val_X)

In [82]:
# To check the error from each value we import the mean absolute error function 
from sklearn.metrics import mean_absolute_error

# Mean Absolute Error

In [83]:
#check mean absolute error between the valudation y and predicted val_x
mae = mean_absolute_error(preds, val_y)
print("Validation MAE for Random Forest Model: {:,.0f}".format(mae))
# Validation MAE for Random Forest Model: 22,762

Validation MAE for Random Forest Model: 22,762

# Adjusting the Hyper Parameters

In [65]:
# Defining the Functino that setup, fit and predicts also returns the mae 
# ..with n_estimator HYPER PARAMETER 
# def get_mae(n_e, m_d, m_l_n, train_X, val_X, train_y, val_y):
#    model = RandomForestRegressor(n_estimators=n_e, max_depth=m_d, max_leaf_nodes=m_l_n, random_state=0)
#    model.fit(train_X, train_y)
#    preds_val = model.predict(val_X)
#    mae = mean_absolute_error(val_y, preds_val)
#    return(mae)

In [73]:
# Trigger
# temp_mae =99999
# for n_e in [10, 50, 100, 300, 400, 500]:         # Default 100
#    for m_d in [1,10,100]:                       # Default NONE
#        for m_l_n in [100, 200, 300, 400, 500]:  # Default NONE
#            my_mae = get_mae(n_e, m_d, m_l_n, train_X, val_X, train_y, val_y)
#            print("No. of Estimators: %d\tMax_Depth: %d\tMax_Leaf_Nodes: %d\tMean Absolute Error:  %d" %(n_e, m_d, m_l_n, my_mae))
#            if my_mae < temp_mae:
#                temp_mae = my_mae
#                temp_n_e = n_e
#                temp_m_d = m_d
#                temp_m_l_n = m_l_n
                
# print('The lowest MAE of %d, found at n_e %d, m_d %d, m_l_n %d,' %(temp_mae, temp_n_e, temp_m_d, temp_m_l_n,))
# The lowest MAE of 21987, found at n_e 300, m_d 100, m_l_n 300,

# For the Kaggle Competition TEST

Create a New model and run on the entire test data set

In [36]:
# To improve accuracy, create a new Random Forest model which you will train on all training data
rf_model_on_full_data = RandomForestRegressor(random_state=1)

# fit rf_model_on_full_data on all data from the training data
rf_model_on_full_data.fit(X,y)

//anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=1, verbose=0,
                      warm_start=False)

In [37]:
# create test_X which comes from test_data but includes only the columns you used for prediction.
# The list of columns is stored in a variable called features
test_X = test_data[features]

# make predictions which we will submit. 
test_preds = rf_model_on_full_data.predict(test_X)

# The lines below shows how to save predictions in format used for competition scoring
# Just uncomment them.

output = pd.DataFrame({'Id': test_data.Id,
                       'SalePrice': test_preds})
output.to_csv('submission.csv', index=False)

In [26]:
output.head()

     Id  SalePrice
0  1461   112945.0
1  1462   149770.0
2  1463   178100.0
3  1464   177950.0
4  1465   189000.0